.header {
    background-color: #FFFFFF;
}

.webCanvasLogo {
    width: 180px;
}

li {
    cursor: pointer;
    font-family: 'Inter', sans-serif !important;
    font-size: 14px;
    font-weight: 400;
}

.navbar {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: center;
}

.logoBox {
    cursor: pointer;
}

.navbarOptionBox {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.navbarOption {
    list-style: none;
    margin: 0 10px;
    padding: 4px 4px;
}

.navbarOption:hover {
    border-bottom: 1px solid gray;
}

.navbar3magesBox {
    display: flex;
}

.navbarOption.active {
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #000000;
}

.navbar3mages {
    list-style: none;
    cursor: pointer;
    margin: 0 15px;
}

.navbar3mage {
    width: 18px;
}

.searchPopBox {
    top: 10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.searchPop {
    background: url('../../assets/Magnifier.png') no-repeat 3px center white;
    background-size: 16px 16px;
    width: 580px;
    height: 40px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
}

.searchPop::placeholder {
    color: #888;
    opacity: 0.7;
}

.exitIcon {
    cursor: pointer;
}

.darkOver {
    position: absolute;
    background: black;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

.hamburgerMenu {
    display: none;
}

@media (max-width: 690px) {
    .webCanvasLogo {
        width: 150px;
    }

    .navbarOptionBox {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #fff;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px 0;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }

    .navbarOptionBox.active {
        display: flex;
    }

    .hamburgerMenu {
        display: block;
        margin: 0 15px;
    }

    .bagIcon {
        display: none;
    }
}